@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    position: relative;
    margin: 5px 50px 0px 50px;
    font-size: 14px;
    font-family: "Lexend", sans-serif;
  }
  @media screen and (min-width: 758px) and (max-width: 836px) {
    body {
      margin: 5px 40px;
    }
  }
  h3 {
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    line-height: 45px;
  }
}
